.ck.ck-editor {
    width: 100%!important;
    min-width: 300px;
}

.ck-editor h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.ck-editor h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.ck-editor h4 {
    font-weight: bold;
}

.ck.ck-balloon-panel_visible.ck-powered-by-balloon {
    display: none!important;
}

.ck.ck-dropdown__panel-visible {
    z-index: 100;
}

.ck.ck-content {
    min-height: 300px;
}